@charset "UTF-8";

.hidden {

display:none;
}

#siteCon {
 margin: 0 auto;
}

.column {
  flex: 25%;
  padding: 20px;
  max-width: 1400px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

#box1 {
  background-color: blue;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}

#box2 {
  background-color: purple;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}

#box3 {
  background-color: grey;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}

#box4 {
  background-color: brown;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 10px;
  flex: 1 1 auto;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .boxes {
    flex-direction: column;
  }

  #box1 {
  	background-color: pink;
  }

  #box2 {
	background-color: red;
  }

  #box3 {
  	display: none;
  }

  #box4 {
  	display: none;
  }
}


